* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Quicksand';
  font-size: 16px;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.app {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.app > * + * {
  margin-top: 3rem;
}
